#sudoku-puzzle {
	border-collapse: collapse;
}

.sudoku-cell {
	padding: 20px;
	border: 1px solid black;
}

.cell-col-0, .cell-col-3, .cell-col-6 {
	border-left: 3px solid black;
}

.cell-col-8 {
	border-right: 3px solid black;
}

.cell-row-0, .cell-row-3, .cell-row-6 {
	border-top: 3px solid black;
}

.cell-row-8 {
	border-bottom: 3px solid black;
}
