body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

nav {
	box-sizing: border-box;
	width: 100%;
	height: 42px;
	padding: 0 20% 0 20%;
	background-color: #444;
	color: #DDD;
}

.navbar-inner {
	position: relative;
	width: 100%;
	height: 100%;
}

.navbar-left {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 30px;
}

.navbar-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	display: inline;
	font-size: 22px;
}

.navbar-right {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 20px;
}

.navbar-link {
	margin: 0px 5px 0px 25px;
}

.navbar-link:hover {
	cursor: pointer;
}

.main-view {
	position: relative;
	margin: 0% 20% 0% 20%;
}

.main-view-header {
	padding: 20px 5px 20px 5px;
	font-size: 28px;
}

.create-lobby-button {
	position: absolute;
	top: 15px;
	right: 0;
}

.games-list {
	width: 100%;
	margin: 20px 0px;
}

.games-list-item-head {
	display: flex;
	justify-content: center;
}

.games-list-item {
	display: flex;
	justify-content: center;
}

.games-list-cell {
	display: block;
	text-align: center;
	align-items: center;
	padding: 15px;
	width: 12%;
	box-shadow: 1px 1px 2px #ccc;
}

.games-list-cell:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.games-list-cell:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.games-list-item-head .games-list-cell {
	background-color: #CCC;
	font-weight: bold;
	margin-bottom: 8px;
}

.games-list-item .games-list-cell {
	background-color: #EEE;
	margin-bottom: 4px;
}

button {
	border: 0;
	margin: 10px;
	background-color: #DDD;
	padding: 10px;
	border-radius: 3px;
	font-family: 'Montserrat';
	box-shadow: 1px 1px 2px #BBB;
}

button:hover {
	cursor: pointer;
}

input[type="text"], input[type="password"], input[type="textarea"] {
	border: 0;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #CCC;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="textarea"]:focus, button:focus {
	outline-color: #222;
}

.login-form form {
	margin: 5% 35% 5% 35%;
	padding: 10px;
	border-radius: 3px;
	background-color: #EEE;
	box-shadow: 1px 1px 2px #CCC;
}

.create-lobby-form form {
	margin: 5% 25% 5% 25%;
	padding: 10px;
	border-radius: 3px;
	background-color: #EEE;
	box-shadow: 1px 1px 2px #CCC;
}

.form-buttons {
	text-align: center;
}

.login-form div, .create-lobby-form div {
	padding: 10px;
}

.form-justify {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login-error {
	color: red;
}

.lobby-view {
	padding: 15px;
	background-color: #CCC;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #BBB;
}

.lobby-players-list {
	width: 70%;
	float: left;
	height: 600px;
}

.lobby-player-item {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 98%;
	height: 80px;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #AAA;
	background-color: #DDD;
	box-sizing: border-box;
}

.lobby-player-name {
	margin-right: auto;
}

.lobby-player-elo {
	margin-left: auto;
}

.chat {
	width: 30%;
	float: right;
	height: 600px;
}

.chat-message-display {
	width: 100%;
	height: 500px;
	background-color: #FFF;
	margin-bottom: 5px;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #AAA;
}

.chat-message-input-area input {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	margin-bottom: 5px;
}

.chat-message-submit button {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
}

#sudoku-puzzle {
	border-collapse: collapse;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

.sudoku-cell {
	width: 48px;
	height: 48px;
	text-align: center;
	border: 1px solid black;
}

.sudoku-intial-cell {
	font-size: 24px;
	font-weight: bold;
}

.cell-col-0, .cell-col-3, .cell-col-6 {
	border-left: 3px solid black;
}

.cell-col-8 {
	border-right: 3px solid black;
}

.cell-row-0, .cell-row-3, .cell-row-6 {
	border-top: 3px solid black;
}

.cell-row-8 {
	border-bottom: 3px solid black;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}