	<table id="sudoku-puzzle">
		<% puzzle.each_with_index do |puzzle_row, row| %>
			<tr class="cell-row-<%= row %>">
				<% puzzle_row.each_with_index do |puzzle_cell, col| %>
					<% if puzzle_cell == " " %>
						<td class="cell-col-<%= col %> sudoku-cell" onkeypress="return (this.innerText.length <= 0)" contenteditable="true"></td>
					<% else %>
						<td class="cell-col-<%= col %> sudoku-cell sudoku-intial-cell"><%= puzzle_cell %></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table>

	<div id="sudoku-percent"></div>